<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="remark,remarkjs,markdown,slideshow,presentation" />
    <meta name="description" content="A simple, in-browser, markdown-driven slideshow tool." />
    <title>AngularJS Presentation</title>
    <link rel="stylesheet" href="presentation.css"></link>
  </head>
  <body>
    <textarea id="source">
name: inverse
layout: true
class: center, middle, inverse
---
## Angular JS
Un framework javascript pour les applications Web
.footnote.signature[par guillaume Landriu]
---
      
## Un peu d'histoire sur les applications Web
---
layout: false
.left-column[
  ## Pages statiques
]
.right-column[

```xml
<html>
  <body>
    <h1>Accueil Guillaume.io</h1>
    <p>Bienvenue sur mon site</p>
  </body>
</html>
```
]
---
.left-column[
  ## Pages statiques
  ## Pages générées
]
.right-column[
### php, perl, java (jsp), ...

```php
<html>
<body>
<h1>Accueil <?php $name="Guillaume.io"; echo $name ?></h1>
<p>Bienvenue sur mon site</p>
</body>
</html>
```
- La page devient dynamique. 
- Les données sont injectées coté serveur
]
---
.left-column[
  ## Pages statiques
  ## Pages générées
  ## Javascript & DOM
]
.right-column[
### Single Page Application
```xml
<html>
<body>
<h1></h1>
<p>Bienvenue sur mon site</p>
<script>
    h1 = document.getElementsByTagName("h1")[0];
    h1.innerHTML = "Accueil Guillaume.io";
</script>
</body>
</html>
```
- Le javascript manipule le DOM pour construire la page coté client
- Les problèmes de compatibilité entre navigateurs apparaisent!
- Architecture Ajax : applications web dynamiques et interactives
]
.footnote[.pull-rigth.black[<small>*DOM = Document Object Model : interface de programmation normalisée qui permet de modifier le contenu du navigateur*</small>]] 

---
.left-column[
## Pages statiques
## Pages générées
## Javascript & DOM
## jQuery
]
.right-column[
### Single Page Application
```xml
<html>
<body>
<h1></h1>
<p>Bienvenue sur mon site</p>
<script>
    $("h1").innerHTML("Accueil Guillaume.io");
</script>
</body>
</html>
```
- Même manipulation du DOM
- Sélection des éléments plus puissante
- Compatibilité des navigateurs gérée par la librairie
- Très fortement lié au Id du DOM

]      
---
.left-column[
## Pages statiques
## Pages générées
## Javascript & DOM
## jQuery
## AngularJS
]
.right-column[
### Single Page Application
```xml
<html ng-app="app">
<head>
  <script type="text/javascript" src="mainCtrl.js"></script>
</head>
<body ng-controller="mainCtrl as main">
  <h1>Accueil {{main.name}} </h1>
  <p>Bienvenue sur mon site</p>
</body>
</html>
```
- Séparation HTML / traitement
- Data-Binding
- Injection des dépendances
- Même manipulation du DOM au moyen de directives

]      
---
name:exemple

## Exemple d'application Web Javascript
.large-image[
  ![dashborad](images/dashboard.jpg)
]      
---
template: inverse
class: center

## Les concepts clés :
Contrôleur

Data-Binding

Scope

Pattern MVC
---
layout: false
### Concepts clés
Le framework repose sur un mécanisme de directives, utilisées sous forme de mot clés à insérer dans le HTML.

La force des développeurs d'Angular est de proposer une vision de l'architecture d'une application Javascript avec quelques préconisations : 
- découplage du DOM et de la logique,
- utilisation de composants,
- automatisation des tests,
- découplage client/serveur.

Le développement est simplifié par l'utilisation de principes tel que : 
- le pattern MVC ou MV*
- le Data-Binding
- la modularité
- Injection des dépendances
- le routage

---
### Une mise en oeuvre réduite
Le code suivant est suffisant pour démarrer une application angular :
```html
<html>
   <head>
      <script src="lib/angular.js"></script>     
      <script src="app.js"></script>  
   </head>       
   <body ng-app="app">      
   </body>       
</html>  
```
app.js
```javascript
var app = angular.module('app', []);
```
Ce qu'il faut retenir : 
- les deux fichiers Javascript 
- la directive ng-app

.footnote[.pull-rigth.black[<small>*Les exemples HTML suivant ce concentrerons sur le ```<body>```*</small>]] 

---
### **Controller**, Data-Binding et Scope
Ces trois concepts portent ensemble la colonne vertebrale d'angular.  
- Il participe au découplage DOM - logique
- Le controller implemente l'objet $scope qui permet la communication avec la vue
- Il contient les fonctions  appelées par la vue
 
```html
<body ng-app="app" ng-controller="mainCtrl as main">
</body>       
```
```javascript
var app = angular.module('app', []);
app.controller('mainCtrl', function($scope) {
   $scope.name="Cedric";
   $scope.raz = function(){ 
       $scope.name = "";
   }
});
```
---
### Controller, **Data-Binding** et Scope
- C'est un moyen de lier la vue au controller.
- Toutes les données contenues dans le scope sont concernées
- Lorsqu'une donnée change coté controleur, la vue est modifiée automatiquement et inversement.
#### Exemple
.sample[
<iframe width="100%" height="300" src="./exemples/exemple1/index.html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
]

---
### Controller, Data-Binding et **Scope**
- Le scope est un objet partagé entre la vue est le controller,
- Il représente le modèle de l'application
- Chaque controleur créé son propre scope
- L'application a un scope global **$rootScope** qui englobe tous les scopes
```html
<body ng-app="app" >
    <h1>Simple Data Binding with AngularJS</h1>
    <br />
    <div  ng-controller="mainCtrl">
        Name: <input type="text" ng-model="name" />
        <button ng-click="raz()">Raz</button>
        <br /><br /> Welcome to AngularJS {{name}}
    </div>
</body>
```
```javascript
var app = angular.module('app', []);
app.controller('mainCtrl', function($scope) {
   $scope.name="Cedric";
   $scope.raz = function(){ 
       $scope.name = "";
   }
 }); 
```
---
##Pattern MVC
Les trois concepts, controller, binding et scope forment ensemble le pattern MVC.

![mvc](images/mvc.jpg)
On retrouve les principes préconisés par angular : 
- découplage du DOM et de la logique,  
- le pattern MVC ou MV*
- le Data-Binding
---
template: inverse
class: center

## Architecture modulaire :
Routage

Service
---
## Application exemple : lecteur de flux rss
Les concepts expliqués après montrent du code tirés d'une application exemple qui lit un flux rss d'actualité.

Une premiere vue liste les articles et une seconde affiche le détail d'un article. 

![Architecture application exemple](images/archi.jpg)

---

## La gestion des routes
Dès que l'application se complexifie, nous allons devoir jongler avec différents écrans (vue).
- le module ngRoute devient indispensable
- il apporte une nouvelle directive : ng-view
- ainsi que de nouveaux services : $route et son provider $routeProvider ainsi que $routeParams.

<small><i>un provider permet d'instancier un service en le configurant</i></small>

Le rôle de se module est d'associer à une url une vue et son controler.

- **ng-view**: permet de définir l'élément HTML qui accueillera les vues
- **$routeProvider**: permet d'enregistrer les routes (urls) de notre applications

<small><i>page index.html de notre application avec la directive ng-view</i></small>
```html
<body ng-app="app">
    <div class="container-fluid">
        <div class="container-fluid" ng-view></div>
    </div>
</body>
```
---
## Configuration des routes de notre application
La declaration de notre application utilise le module ngRoute
```javascript
var app = angular.module('app', ["ngRoute"]);
```
Puis on configure les routes à l'aide du service $routeProvider

```javascript
app.config(['$routeProvider', function ($routeProvider) {
    $routeProvider
        .when('/', {
            templateUrl: 'feed-list.html',
            controller: "feedCtrl",
            controllerAs: "ctrl"
        })
        .when('/detail/', {
            templateUrl: 'feed-detail.html',
            controller: "detailFeedCtrl",
            controllerAs: "ctrl"
        })
        .otherwise({ redirectTo: '/' });
}])
```
---
## Exemple du routage
*<small>Un clic sur un article déclenche le routage vers la page détails</small>*
.ex-ng-repeat.sample[
<iframe width="100%" height="600px" src="./exemples/feedReader/dist/index.html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
]

---
## Les services
- Les services d'Angular sont des fonctions ou des objets avec un but bien précis. 
- Cela participe au désire de modularité voulu par les développeurs d'Angular.
- Ce sont des **singletons** (instance unique).
- Comme pour les directives les services d'Angular ont une notation particulière : il commence par **$**

Angular fourni des services très utiles :
- **$location**: permet d'intéragir avec l'URL du navigateurs
- **$route**: permet de changer de vue en fonction de l'URL
- **$http**: permet de communiquer avec le serveur

---

## L'injection des dépendances

- Permet à des modules de ne pas se soucier de l'instanciation des modules dont il dépend. 
- Angular va donc rechercher les services dont nous avons besoins, récupèrer leur instance et les injecter dans notre controleur.
- L'ordre des services injectés n'a pas d'importance
```javascript
        var mainCtrl = function($scope, $http) {
           ...
        }
```
- Seconde notation nécessaire lorsqu'on minimise le javascript
```javascript
        var mainCtrl = ["$scope", "$http", function($scope, $http) {
           ...
        }];
```

---

## Création d'un services

- La création d'un service est assez simple. 
- Il suffit de déclarer une fonction de type service au module de notre application.
- Notre service injecte le service $http pour récupèrer un flux rss sur un serveur.

```javascript
app.service('feedService', ['$http', function ($http) {
        this.parseFeed = function (url) {
            return $http.get(url);
        }       
}]);
```
```javascript
app.controller("feedCtrl", ['$scope', 'feedService', function ($scope, Feed) {
    $scope.feedSrc = "https://newsapi.org/v1/articles?source=bbc-news&sortBy=top&apiKey=9e8f2478bffb49bc92f9c43f75ceadbb";
    $scope.filterText = "";
    //Chargement du flux rss
    $scope.loadFeed = function (e) {
        Feed.parseFeed($scope.feedSrc).then(function (res) {
            $scope.feeds = res.data.articles;
        });
    }
}]);
```
---
##Résultat obtenu par le service créé
Dans notre exemple la donnée **feeds** aura une liste d'objets avec la description suivante :
```javascript
"articles": [
{
   "author": "BBC News",
   "title": "NHS operations: Waiting times to rise in 'trade-off', boss says",
   "description": "Cancer care and A&E to be prioritised as health service leader in England says something has to give.",
   "url": "http://www.bbc.co.uk/news/health-39420662",
   "urlToImage": "https://ichef.bbci.co.uk/news/1024/cpsprodpb/178D0/production/_95346469_waitingroom.jpg",
   "publishedAt": "2017-03-31T07:42:55Z"
},...]
```
---
template: inverse
class: center

## Manipulation du DOM :
Les directives

Les filtres
---

## Les directives
- C'est un moyen de manipulation du DOM 
- Elles se matérialise par des attributs utilisés dans le code HTML. 
- Certaines peuvent être sous forme d'une classe css ou d'un élément HTML 
- Elles permettent de modifier ou transformer le DOM.
- **ng-app** : permet d'initialiser l'application
- **ng-controller** : permet d'associer un controller à un élément du DOM
- **ng-model** : permet de lié un input, textarea ou select à une variable du contexte actuel (scope)


```html
[...]
<!-- Formulaire de saisie des critères de recherche -->
<div class="form-group ">
    <div class="input-group col-md-10">
      <input type="text"  ng-model="feedSrc" class="form-control" name="feedSrc" placeholder="Enter Feed URL">
        <span class="input-group-btn">
          <button ng-click="loadFeed()" class="btn btn-primary" id="load-btn" >Load</button>
        </span>
    </div>
</div>
<!-- liste des articles -->
[...]
```
<!--
<body ng-app="app" >
    <h1>Simple Data Binding with AngularJS</h1>
    <br />
    <div  ng-controller="mainCtrl">
        Name: <input type="text" ng-model="name" />
        <button ng-click="raz()">Raz</button>
        <br /><br /> Welcome to AngularJS {{name}}
    </div>
</body>-->

---
## ng-repeat : exemple d'une directive très utile
Pour lister les articles dans notre page nous allons utiliser **ng-repeat**.
Cette directive permet de répéter un élément HTML en parcourant un tableau d'objet.
```html
<!-- liste des articles -->
<div class="row">
     <div class="list-group col-md-6">
         <a href="" class="list-group-item" 
         ng-repeat="feed in feeds | filter:filterText 
         | orderBy:'publishedAt':true">
             <h4 class="list-group-item-heading">{{feed.title}}</h4>
             <p class="list-group-item-text">{{feed.description}}</p>
             <small>{{feed.publishedAt | date:'dd-MM-yyyy hh:mm'}} </small>
         </a>
     </div>
</div>
```
- Ici ng-repeat parcour notre tableau **feeds** contenant le flux rss récupéré par le service.
- La variable **feed** contient l'objet d'une occurrence
- L'affichage est filtré par la valeur de filterText 
- L'affichage est également trié sur la date de publication par ordre décroissant
---
## Resultat de l'exemple **ng-repeat**
<br/>
.ex-ng-repeat.sample[
<iframe width="100%" height="600px" src="./exemples/feedReader/dist/index.html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
]

---
## Les filtres
On l'a vu dans l'exemple précédent Angular propose plusieurs filtres utilisables dans le code HTML ou bien dans le javascript

- Plusieurs filtres peuvent s'enchainer :
  - {{expression | **uppercase** | **trim** }}  
- Formatage d'un date :
  - {{date javascript | date:'dd-MM-yyyy'}}
- Le tri  :
  - {{ng-repeat feed in feeds | **orderBy:'publishedAt':true**}}


---
## Création de filtre
```javascript
app.filter('highlight', function($sce) {
    return function(text, search) {
      if (search) text = text.replace(new RegExp('('+search+')', 'gi'),
        '<span class="highlighted">$1</span>')
      return $sce.trustAsHtml(text)
    }
});
``` 
Ce filtre remplace dans *text* le contenu de *search* par un élément HTML span pour mettre les caractères en surbrillance.

L'utilisation se fait dans le code HTML comme ceci :
```html
<h4 class="list-group-item-heading" 
ng-bind-html="feed.title | highlight:filterText"> </h4>
```
*La directive ng-bind-html permet d'inclure du HTML dans le DOM*



---
template: inverse
class: center

## Les tests unitaires
Apercu 
---
## Les tests
- Test unitaires possible sur les différents module/composants (contrôleurs, services, directives)
- Le principe consiste à ecrire les tests dans un language pseudo naturel 
    - **Jasmine** fourni un language qui permet d'écrire les tests 
- et d'utiliser une librairie javascript pour les exécuter         
    - **Karma** lance un navigateur (réél ou fantome) pour exécuter les tests

## Principe
- Chaque controleur ou service a son fichier de test nommer avec l'extention spec.js
- Karma est configuré via le fichier **karma.conf.js** :
    - pour aller chercher les fichiers ***.spec.js**
    - pour inclure les fichiers utilent à l'éxécution (les fichiers Angular par exemple)' 
    - pour utiliser un ou plusieurs navigateurs
    - pour générer différents ype de rapport 

---
##Exemple de test de notre service
- Avant l'éxecution du test, les modules necessaires sont chargés
- Puis le service est injecté
```javascript
describe("Test unitaire du service feedService", function () {
    var feedService;
    //Chargement des modules (notre application et ses dépendances) 
    beforeEach(function () {
        module('ngRoute');
        module('app');
    });
    //Injection du service que l'on veut utiliser
    beforeEach(inject(function (_feedService_) {
        feedService = _feedService_;
    }))
    //Test
    it('Le service devrait être défini', function () {
        expect(feedService).toBeDefined();
    });
});
```
---
## Exemple de service "mocké"
Ici le service $http est "mocké"
```javascript
    describe('Test de la méthode parseFeed ($http mocké)', function () {
        var $httpBackend;
        beforeEach(inject(function ($injector) {
            // Initialisation du mock du service $http
            $httpBackend = $injector.get('$httpBackend');
            $httpBackend.when('GET', 'https://newsapi.org/v1/articles?source=bbc-news&sortBy=top&apiKey=9e8f2478bffb49bc92f9c43f75ceadbb')
                .respond(200, { articles: [{author:'guillaume', title: '', description: '', url:'', urlToImage:'', publishedAt: new Date()}]});
        }));
        afterEach(function () {
            $httpBackend.verifyNoOutstandingExpectation();
            $httpBackend.verifyNoOutstandingRequest();
        });
        it("Doit renvoyer un tableau d'articles dont la propriété author égale à 'guillaume' et la propriété publisheAt égae à la date du jour.", function() {
            feedService.parseFeed("https://newsapi.org/v1/articles?source=bbc-news&sortBy=top&apiKey=9e8f2478bffb49bc92f9c43f75ceadbb").then(function (res) {
                expect(res.data.articles[0].author === "guillaume");
                expect(res.data.articles[0].publishiedAt === new Date());
            });
            $httpBackend.flush();
        });
    });   
```
---
## Résultat du test

![resultat du test](images/resultat-test.jpg)
---
template: inverse
class: center

## L'environnement de developpement
Comment coder !
---
## Nodejs, npm, gulp
Pour développer une application Angular il faut :
- un bon éditeur de texte : atom, Studio code, WebStorm ...
- une plateform de développement : Nodejs, npm
  - **Nodejs** : est une plateforme construite sur le moteur Javascript V8 de Chrome qui permet de développer des applications en utilisant Javascript
  - **npm** est le gestionaire de paquet de Nodejs
- un outil de build : **gulp** qui permet d'éxécuter différentes tâches nécessaires à la construction du livrable
    - de concaténer les différents source JS en un seul fichier
    - idem pour les fichiers less
    - controler le code (linters)
    - lancer les tests unitaire
    - fabriquer un tar 
    - éxécuter l'application en local
    - ...
---
## Structure du projet exemple
![Structure projet](images/structure.jpg)
- **dist** contient le projet exécutable
- **node_modules** contient les modules npm
- **src** contient les sources du projet
- **test** contient les fichiers de test unitaire
- **vendors** contient les ressources utilisés à l'éxécution (angular, bootstrap)
- **gulpfile.js** décrit les taches de build
- **karma-conf.js** décrit la configuration de Karma  
- **package.json** décrit le projet et les modules nécessaires à sa construction 
---
template: inverse
class: center

## Un mot sur Angular 4.0.0

---
## Architecture par composants 
- Les applications angular sont constitués de composants
- Un composant est une combinaison entre un template HTML et une classe qui contrôle la portion de d'écran du composant.

## Typescript
- Parceque c'est un language typé
- Ca facilité la programmation objet 

## Plus de filtre
- Les filtres sont gérés cotés coté typescript sur les données
- 


---
template: inverse
class: center

## Plus d'info
[angularjs.org](http://angularjs.org)


Cette présentation et les sources de l'application exemple sont disponibles sur 

https://github.com/cyspeo/angular-presentation



    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
    <script type="text/javascript">
      var hljs = remark.highlighter.engine;
    </script>
    <script src="remark.language.js" type="text/javascript"></script>
    <script type="text/javascript">
      var slideshow = remark.create({
          highlightStyle: 'monokai',
          highlightLanguage: 'remark'
        }) ;
    </script>
    </body>
    </html>
